<%= form_with(model: @user, url: user_profile_path, method: :patch, local: true) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.submit 'Update Profile' %>
  </div>
<% end %>